<!-- templates/partials/footer.html.twig

-->

<div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; IEPS 2017 <!-- | <a href="login.html">Administration</a>--></p>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    
    <!-- Renders app.js & a webpack runtime.js file
		<script src="/build/runtime.js"></script>
		<script src="/build/app.js"></script> -->
{% endblock %}