{% extends 'base.html.twig' %}

{% block title %}New Creatures{% endblock %}

{% block content1 %}
    <h1>Ajout d'une Creature</h1>

    {{ include('creatures/_form.html.twig') }}

    <a href="{{ path('app_pages_show', {'id' : 2, 'slug' : 'creatures'}) }}">back to list</a>
{% endblock %}
